<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting App.
It's a lot of work, but I am looking forward to learning something new and maybe finding a job with it later.</p>

<p>Well that escalated quickly!</p>